* {
    box-sizing: border-box;
  }
.error{
    color:red;
}

.instruction{
    width:100%;
    padding: 25px 5px 25px 5px;
    margin: 10px;
}

.login{
    width:100%;
    padding: 25px 5px 25px 5px;
    margin: 10px;
}

.instruction-rules{
    list-style-type: none;
}

.signup{
    width:100%;
    padding: 25px 5px 25px 5px;
    margin: 10px;
}

.signup-heading{
    font-size: 26px;
      font-weight: bold;
      padding: 0px 10px 10px 0px;
  }